* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    background-color: rgb(202, 202, 202);
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    padding-top: 30px; 
    z-index: 2; 
}

.container {
    max-width: 760px;
    padding: 20px;
    margin: auto;
    overflow: hidden;
    height: max-content;
    line-height: 200%;
    z-index: 3; 
    position: relative; 
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    text-align: center;
}

.image-section img {
    border-radius: 50%;
}

header h1 {
    margin: 0;
}

header ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 0;
}

header ul li, .nav-section button {
    list-style: none;
    padding: 7px 14px;
    border: 1px solid gray;
    margin-right: -1px;
}
.nav-section button{
    background-color:transparent;
    font-size: 16px;
}
header ul li:hover,
.nav-section button:hover {
    background-color: gray;
}

header ul li a {
    text-decoration: none;
    color: black;
}

header img {
    height: 150px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ccc;
}

footer li {
    list-style: none;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

footer img {
    height: 35px;
    margin: 0 14px;
}

footer h2 {
    text-align: center;
}


/* portfolio page */

.portfolio-section {
    padding: 0px;
    border-radius: 15px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.project-section{
    width: 100%;
    margin-top:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* Transparent background for each section */
}
.project-image-section{
    width:20%;
    margin-right:20px;

}
.title-desc-section{
    width: 80%;
}

.skillset-section {
    width: 60%;
    background-color: transparent; /* Transparent background for each section */
}

.project-image {
    width: 100%;
    border-radius: 10px;
}

.project-title {
    font-size: 24px;
    margin: 20px 0 10px;
}

.project-description {
    font-size: 16px;
    color: #555;
}

.skillset-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.skill {
    margin-bottom: 15px;
}

.skill-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.skill-level {
    height: 10px;
    border-radius: 10px;
}
